{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block content %}

{% if test_client_description %}
    <div class="alert alert-warning" role="alert">
        {{ test_client_description }}
    </div>
{% endif %}

<div class="row mt-5 mb-5">
    <div class="col my-auto"><img src="./assets/enedis-logo.png" width="94"/></div>
    <div class="col my-auto"><img src="./assets/arrow.png" width="72"/></div>
    <div class="col my-auto" style="display:table-cell;"><img src="./assets/proxy-host-logo.png" width="129"/></div>
    <div class="col my-auto" style="display:table-cell;"><img src="./assets/arrow.png" width="72"/></div>
    <div class="col my-auto" style="display:table-cell;">
    	{% if description.logo_url %}
    		<img src="{{ description.logo_url }}" width="100"/>
    	{% else %}
    		<h4>{{ description.name }}</h4>
    	{% endif %}
    </div>
</div>

<h4>{{ description.name }} souhaite accéder à vos données de consommation</h4>

{{ description.service | safe }}

<h4>Autoriser Enedis à transmettre vos données</h4>

<ul>
    <li>
        <strong>ALOEN</strong>, l’agence locale de l’environnement et de l’énergie de Bretagne Sud, est un tiers de confiance mandaté par <strong>{{ description.name }}</strong> pour collecter ces données.
    </li>
    <li>
        <strong>Enedis</strong> gère le réseau d’électricité jusqu’au compteur d’électricité.
    </li>
</ul>

<p>En cliquant sur ce bouton, vous accéderez à votre espace client Enedis où vous pourrez autoriser Enedis à transmettre vos données de consommation.</p>
<p style="margin-top:40px; text-align: center;"><a href="{{ authorize_uri }}"><img src="./assets/enedis-button-blue.png" class="rounded" width="200"/></a></p>

{% endblock %}
